@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root{
    --texto:'Nanum Gothic', sans-serif;
    
    --titulo: 'Passion One', cursive;
    
    --etc: 'Sriracha', cursive;
    }
    
body {
    margin: 0px;
}

/*header*/
header  {
    font-family: var(--titulo);
    background-color: black;
    color: white;
    text-align: center;
    height: 170px;
    
}

header h1 {
    font-size: 5em;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
}

header a {
    color: white;
    font-family: var(--texto);
}

/*header*/

/*section*/

section p {
    font-family: var(--etc);
    margin-top: 50px;
    margin-left: 25px;
    font-size: 2.5em;
    
}

section#img1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center ;
    height: 600px;
    position: relative;
    
    
}

section#img2 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    
}

#p1 {
    background-color: rgba(169, 169, 169, 0.185);
    padding-left: 5px;
    width: 550px;
    height: 500px;
    color: white;
    position: absolute;
    top: -10px;
    
}

#p2 {
    background-color: rgba(0, 0, 0, 0.514);
    padding-left: 5px;
    width: 550px;
    height: 500px;
    color: rgb(243, 243, 243);
    position: absolute;
    top: -10px;
}

/*fotter*/
    footer {
        background-color: black;
        color: rgb(177, 14, 14);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding: 1px;
    }